<app-user-navigation #userNavigationComponent [pageName]="'Dashboard'">
  <app-groups-grid #groupsGridComponent *ngIf="userNavigationComponent.user"
                   [user]="userNavigationComponent.user"></app-groups-grid>

  <div nav-buttons-right>
    <button [matMenuTriggerFor]="addGroupMenu" dir="rtl" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #addGroupMenu="matMenu">
      <button (click)="groupsGridComponent.createGroup()"
              *ngIf="userNavigationComponent.user?.role === 'teacher'" mat-menu-item>
        <span class="menuText">Create a project</span>
      </button>
      <button (click)="groupsGridComponent.openJoinDialog()" mat-menu-item>
        <span class="menuText">Join the project</span>
      </button>
    </mat-menu>
  </div>
</app-user-navigation>
