<div class="container" *ngIf="user.role === 'teacher'">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
      <div class="header">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>

        <span class="title">Add a new task</span>
      </div>
    </mat-expansion-panel-header>


    <div class="content">
      <div>
        <!-- <mat-label>Task Title:</mat-label>
        <br> -->
        <mat-form-field class="contentTitle">
          <input matInput type="text" placeholder="Task Title" #captionInput>
        </mat-form-field>
      </div>

      <div class="contentBody">
        <!-- <mat-label>Description:</mat-label> -->
        <!-- <app-markdown-editor #markdownEditorComponent></app-markdown-editor> -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Task Description</mat-label>
          <textarea [(ngModel)]="content" matInput class="contentBodyTextarea"></textarea>
        </mat-form-field>
        <button class="contentBodySubmit"(click)="onSubmit()">Add</button>
      </div>
    </div>

  </mat-expansion-panel>
</div>

<app-post *ngFor="let p of posts" [post]="p" [user]="user"></app-post>
