p {
  padding: 0 20px;
}

mat-expansion-panel mat-label {
  font-weight: 500;
}

mat-panel-title {
  align-items: center;
}

mat-panel-title span {
  margin-left: 8px;
}

input:focus::placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */
input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.container {
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.content {
  padding-left: 12px;
  padding-right: 12px;

  &Title {
    width: 100%;
  }

  &Body {
    display: flex;
    flex-direction: column;

    &Textarea {
      height: 80px;
    }

    &Submit {
      width: 156px;
      height: 46px;

      background-color: #76b1a6;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      color: #ffff;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 1.25px;

      cursor: pointer;
    }
  }
}
