<div class="header">
  <div class="headerContent">
    <a href="/"><img class="logo" src="../../assets/image/kolab-logo.svg" /></a>
    <div class="headerButtons">
      <span class="headerButtonsSignIn"><a href="/signin">Sign In</a></span>
      <a href="/signup">
        <div class="headerButtonsSignUp">
          <span class="headerButtonsSignUpText">Sign up free</span>
        </div>
      </a>
    </div>
  </div>
</div>

<form #signupForm="ngForm" (ngSubmit)="onSubmit()" appEqualPasswords>
  <div class="card">
    <div class="cardTitle"><span class="cardTitleText">Sign up</span></div>
    <div class="cardContent">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>First name</mat-label>
        <input #firstName="ngModel" [(ngModel)]="user.firstName" matInput name="first-name" required>
        <mat-error *ngIf="signupForm.controls['first-name']?.errors?.required">
          First name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last name</mat-label>
        <input #lastName="ngModel" [(ngModel)]="user.lastName" matInput name="last-name" required>
        <mat-error *ngIf="signupForm.controls['last-name']?.errors?.required">
          Last name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input #email="ngModel" [(ngModel)]="user.email" matInput name="email" required>
        <mat-error *ngIf="signupForm.controls['email']?.errors?.required">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input #password="ngModel" [(ngModel)]="user.password" matInput name="password" required type="password">
        <mat-error *ngIf="signupForm.controls['password']?.errors?.required">
          Password is required
        </mat-error>
        <!-- <mat-hint>Letters, numbers</mat-hint> -->
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input #passwordConfirm="ngModel" [(ngModel)]="user.passwordConfirm" matInput minlength="3" name="password-confirm"
                required type="password">
        <mat-error *ngIf="signupForm.controls['password-confirm']?.errors?.required">
          Confirm password is required
        </mat-error>

        <mat-error *ngIf="signupForm.controls['password-confirm']?.errors?.minlength">
          Min length does not match
        </mat-error>
        <div *ngIf="signupForm.errors?.identityRevealed" class="cross-validation-error-message alert alert-danger">
          Passwords must match
        </div>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select #role="ngModel" [(ngModel)]="user.role" name="password" required>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.label}}
          </mat-option>
          <mat-error *ngIf="signupForm.controls['role']?.errors?.required">
            Select a role
          </mat-error>
        </mat-select>
      </mat-form-field>

    </div>

      <button class="submitButton" [disabled]="signupForm.invalid" type="submit">
        <span class="submitButtonText">Sign up</span>
      </button>

  </div>
</form>
