form {
  padding: 60px;
}

mat-form-field {
  margin-bottom: 10px;
}

mat-card {
  margin: 0 auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  border-radius: 30px;
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

mat-card-content {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}
