<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'" class="header">
<!--    [ngClass]="done ? 'accent-background' : ''"-->
      <!-- <mat-panel-title>
        Пост
      </mat-panel-title> -->

      <span class="headerTitle">{{post.caption}}</span>

<!--      <span>{{'10/10'}}</span>-->
    </mat-expansion-panel-header>

    <div class="contentDescription">
      <!-- <mat-label>Description:</mat-label> -->
      {{post.description}}
    </div>

    <div>
      <span *ngIf="data.length > 0" class="contentDiscussionLabel">Discussion:</span>
      <app-progress-table *ngIf="data.length > 0" [data]="data"></app-progress-table>
      <br>
    </div>

    <div class="contentAnswer">
      <span class="contentAnswerLabel">Send a message:</span>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="contentAnswerLabelBody">Message Body</mat-label>
        <textarea [(ngModel)]="form.content" matInput class="contentAnswerTextarea"></textarea>
      </mat-form-field>

      <!-- <app-markdown-editor #answerEditor (input)="form.content = answerEditor.content" [content]="form?.content"
                           [mode]="'editor'"></app-markdown-editor> -->
      <button (click)="updateAnswer()" [disabled]="done" class="contentAnswerSubmit">Send</button>
    </div>
  </mat-expansion-panel>
</div>
