p {
  padding: 0 20px;
}

mat-expansion-panel mat-label {
  font-weight: 500;
}

::ng-deep .mat-expansion-indicator {
  margin-top: -2px;
}

mat-expansion-panel-header span {
  margin-right: 16px;
  width: 60px;
  text-align: right;
}

.container {
  margin-bottom: 20px;
}

.header {
  &Title {
    white-space: nowrap;
    width: 700px !important;
    text-align: start !important;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

.content {
  &Description {
    font-size: 18px;
    margin-bottom: 14px;
  }

  &Discussion {
    &Label {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 1px;

      margin-bottom: 18px;
    }
  }

  &Answer {
    display: flex;
    flex-direction: column;

    &Label {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 1px;

      margin-bottom: 18px;

      &Body {
        line-height: initial;
      }
    }

    &Textarea {
      height: 80px;
    }

    &Submit {
      width: 156px;
      height: 46px;

      background-color: #76b1a6;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      border: none;

      cursor: pointer;

      color: #ffff;

      font-weight: bold;
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}
