<app-user-navigation #userNavigationComponent *ngIf="group" [pageName]="'Project: ' + group.name">
  <!-- <div nav-buttons-left>
    <button (click)="backClicked()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div> -->

  <div class="container">
    <app-posts-list *ngIf="userNavigationComponent.user" [group]="group"
                    [user]="userNavigationComponent.user"></app-posts-list>
  </div>
</app-user-navigation>
