<div class="container">
  <div class="header">
    <img class="logo" src="../../assets/image/kolab-logo.svg" />
    <div class="headerButtons">
      <span class="headerButtonsSignIn"><a href="/signin">Sign In</a></span>
      <a href="/signup">
        <div class="headerButtonsSignUp">
          <span class="headerButtonsSignUpText">Sign up free</span>
        </div>
      </a>
    </div>
  </div>
  <div class="hr"></div>
  <div class="content">
    <img class="line" src="../../assets/image/line.svg" />
    <img class="stars" src="../../assets/image/stars.svg" />
    <div class="contentLeft">
      <img class="ellipse" src="../../assets/image/bg-allipse.svg" />
      <img class="plane" src="../../assets/image/plane.svg" />
      <div class="contentLeftTop">
        <span class="contentLeftTopTitle">New Home for Collaboration</span>
        <span class="contentLeftTopText">The online collaborative whiteboard platform to bring teams together, anytime, anywhere.</span>
        <a href="/signup">
          <div class="contentLeftTopButton">
            <span class="contentLeftTopButtonText">Get Started</span>
            <img class="arrow" src="../../assets/image/arrow-right.svg" />
          </div>
        </a>
      </div>
      <span class="contentLeftCenterText">Free forever — no credit card required.</span>
      <img class="contentLeftBottom" src="../../assets/image/landing-illustration-2.svg" />
    </div>
    <div class="contentRight">
      <img src="../../assets/image/landing-illustration-1.svg" />
      <div class="contentRightBottom">
        <span class="contentRightBottomTitle">Stay organized and connected</span>
        <span class="contentRightBottomText">Bring your team’s work together in one shared space. Choose the project view that suits your style, and collaborate no matter where you are.</span>
      </div>
    </div>
  </div>
</div>
