.container {
  height: 778px;
  width: 1000px;

  background-color: #ffff;
  border-radius: 30px;

  margin: 0 auto;

  margin-top: 50px;
  margin-bottom: 196px;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25),
    0px 2px 6px 2px rgba(0, 0, 0, 0.25);

  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 34px;

  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;

  &Buttons {
    height: 32px;
    width: 190px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &SignIn {
      color: #5f5a6e;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &SignUp {
      height: 32px;
      width: 134px;

      background-color: #76b1a6;
      border: 0.7px solid #76b1a6;
      border-radius: 5px;

      padding: 7px 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      &Text {
        color: #ffffff;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }
  }
}

.content {
  display: flex;
  position: relative;

  &Left {
    width: 430px;

    display: flex;
    flex-direction: column;

    padding-top: 64px;

    margin-right: 24px;
    margin-left: 44px;

    position: relative;

    &Top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 100%;
      height: 266px;

      z-index: 1;

      &Title {
        font-weight: bold;
        font-size: 47px;
        letter-spacing: 0.02em;
        color: #33295d;
      }

      &Text {
        font-size: 17px;
        letter-spacing: 0.02em;
        color: #5f5a6e;
        width: 400px;
      }

      &Button {
        width: 150px;
        height: 48px;
        background-color: #76b1a6;
        border-radius: 8px;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &Text {
          color: #ffff;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.02em;

          margin-right: 4px;
        }
      }
    }

    &Center {
      &Text {
        font-size: 12px;
        letter-spacing: 0.02em;
        color: #756b6d;

        margin-top: 14px;
      }
    }

    &Bottom {
      margin-top: 45px;
    }
  }

  &Right {
    width: 430px;

    display: flex;
    flex-direction: column;

    padding-top: 52px;

    z-index: 1;

    &Bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-top: 34px;

      &Title {
        font-weight: bold;
        font-size: 34px;
        letter-spacing: 0.02em;
        color: #33295d;

        margin-bottom: 14px;
      }

      &Text {
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #5f5a6e;
      }
    }
  }
}

.hr {
  height: 1px;
  width: 100%;

  background-color: #fbebe7;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 32px;
  width: 103px;
}

.arrow {
  width: 20px;
  height: 20px;
}

.ellipse {
  position: absolute;
  width: 84px;
  height: 84px;
  left: -30px;
  top: 44px;
}

.plane {
  position: absolute;
  right: -50px;
  top: 40px;
}

.line {
  position: absolute;
  top: 400px;
  left: 330px;
}

.stars {
  position: absolute;
  top: 330px;
  left: 300px;
}
