.header {
  height: 70px;
  width: 100%;

  background-color: #ffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25),
    0px 2px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1px;

  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  align-items: center;

  &Content {
    height: 32px;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &Buttons {
    height: 32px;
    width: 190px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &SignIn {
      color: #5f5a6e;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &SignUp {
      height: 32px;
      width: 134px;

      background-color: #76b1a6;
      border: 0.7px solid #76b1a6;
      border-radius: 5px;

      padding: 7px 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      &Text {
        color: #ffffff;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 32px;
  width: 103px;
}

.card {
  margin: 0 auto;
  width: 500px;

  background-color: #ffff;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.25);

  padding: 20px 16px 22px 16px;

  &Title {
    text-align: center;
    margin-bottom: 16px;

    &Text {
      font-weight: bold;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}

.submitButton {
  height: 46px;
  width: 468px;

  background-color: #76b1a6;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  cursor: pointer;

  &Text {
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1.25px;
  }
}

.buttonClose {
  background-color: #76b1a6;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: large;
  font-weight: bold;
  color: #ffff;
}

.errorText {
  font-size: x-large;
  font-weight: bold;
}
