<ng-template #errorDialog>
  <span class="errorText" matDialogTitle>Error</span>
  <p matDialogContent>Email or password is wrong</p>
  <mat-dialog-actions align="center">
    <button class="buttonClose" matDialogClose>Ok</button>
  </mat-dialog-actions>
</ng-template>

<div class="header">
  <div class="headerContent">
    <a href="/"><img class="logo" src="../../assets/image/kolab-logo.svg" /></a>
    <div class="headerButtons">
      <span class="headerButtonsSignIn"><a href="/signin">Sign In</a></span>
      <a href="/signup">
        <div class="headerButtonsSignUp">
          <span class="headerButtonsSignUpText">Sign up free</span>
        </div>
      </a>
    </div>
  </div>
</div>

<form #signinForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="card">

    <div class="cardTitle"><span class="cardTitleText">Sign in</span></div>

    <mat-card-content>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker>
          <mat-label>Email</mat-label>
          <input #email="ngModel" [(ngModel)]="user.email" matInput name="email" required>
          <mat-error *ngIf="signinForm.controls['email']?.errors?.required">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input #password="ngModel" [(ngModel)]="user.password" matInput name="password" required type="password">
          <mat-error *ngIf="signinForm.controls['password']?.errors?.required">
            Password is required
          </mat-error>
          <!-- <mat-hint>Букви, цифри</mat-hint> -->
        </mat-form-field>

    </mat-card-content>

    <button class="submitButton" [disabled]="!signinForm.form.valid" type="submit">
      <span class="submitButtonText">Sign in</span>
    </button>

  </div>
</form>
