<div class="card" #scrollToEl>

  <div class="avatar">

    <div class="avatarCircle" *ngIf="!group.iconURL">
      <img class="avatarCircleIcon" src="../../assets/image/avatar.svg" />
    </div>

    <div class="avatarCircle" *ngIf="group.iconURL" [ngStyle]="{'background-image': 'url(' + (group.iconURL) + ')'}">
    </div>
  </div>

  <div class="cardHeader" [ngStyle]="{'background-image': generateBackground(group.name)}">
    <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="group.editing = true" mat-menu-item class="menuItem">
        <!-- <mat-icon>edit</mat-icon> -->
        <span class="menuItemText">Edit</span>
      </button>
      <button (click)="leaveGroup()" mat-menu-item class="menuItem">
        <!-- <mat-icon>cancel</mat-icon> -->
        <span class="menuItemText">Leave</span>
      </button>
      <button *ngIf="user.role === 'teacher'" (click)="deleteGroup()" mat-menu-item class="menuItem">
        <!-- <mat-icon>delete</mat-icon> -->
        <span class="menuItemText">Delete</span>
      </button>
      <button (click)="copyToClipboard(group.identificator)" mat-menu-item class="menuItem">
        <!-- <mat-icon>link</mat-icon> -->
        <span class="menuItemText">Copy id</span>
      </button>
    </mat-menu>
  </div>
  <!-- <mat-card-header>
    <div [ngStyle]="{'background-image': 'url(' +
        (group.iconURL ? group.iconURL : 'https://i1.sndcdn.com/avatars-000119157565-4ir7vb-t240x240.jpg') + ')'}" class="header-image"
         mat-card-avatar></div>

    <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="leaveGroup()" mat-menu-item>
        <mat-icon>cancel</mat-icon>
        <span>Скасувати реєстрацію</span>
      </button>
      <button (click)="group.editing = true" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Редагувати</span>
      </button>
      <button *ngIf="user.role === 'teacher'" (click)="deleteGroup()" mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Видалити</span>
      </button>
      <button (click)="copyToClipboard(group.identificator)" mat-menu-item>
        <mat-icon>link</mat-icon>
        <span>Скопіювати ідентифікатор</span>
      </button>
    </mat-menu>
  </mat-card-header> -->
  <!-- <mat-card-content [ngStyle]="{'background-image': generateBackground(group.name)}"
                    class="fill-image"></mat-card-content> -->

  <div class="cardContent">
    <div class="cardContentName">
      <input (input)="group.name = $event.target.value" *ngIf="group.editing" value="{{group.name}}" class="cardContentNameInput">
      <a *ngIf="!group.editing" [routerLink]="'/posts/' + group.id"><span>{{group.name}}</span></a>
    </div>
    <div class="cardContentCreator">
      <span>{{group.creator.firstName + ' ' + group.creator.lastName}}</span>
    </div>
    <div class="cardContentDescription" *ngIf="group.description || group.editing">
      <p (input)="newGroup.description = $event.target.innerHTML" [contentEditable]="group.editing === true"
        [innerHTML]="group.description" class="cardContentDescriptionText"></p>
    </div>
    <!-- <mat-card-content *ngIf="group.usefulContent || group.editing">
      <mat-label>Корисне:</mat-label>
      <p (input)="newGroup.usefulContent = $event.target.innerHTML" [contentEditable]="group.editing === true"
        [innerHTML]="group.usefulContent | linkify"></p>
    </mat-card-content> -->
    <mat-card-actions *ngIf="group.editing">
      <button (click)="editGroup()" color="accent" mat-flat-button>Save</button>
    </mat-card-actions>
  </div>
</div>
