.header-image {
  background-size: cover;
}

mat-card-header {
  display: flex;
}

::ng-deep .mat-card-header-text {
  min-width: 0;
  flex-grow: 1;
}

mat-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-card-title > a,
mat-card-title > input {
  font-weight: 500;
}

mat-card-title > a {
  display: inline;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.87);
}

mat-card-actions > button {
  margin-right: 10px;
}

mat-card-content p {
  word-break: break-all;
}

mat-card-content:last-of-type {
  margin-bottom: 0;
}

mat-card-actions {
  margin-top: 16px;
}

mat-card {
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.fill-image {
  flex-grow: 1;
  background-size: 192px;
}

:host {
  display: inline-block;
}

mat-card-actions {
  padding-top: 0 !important;
  margin-left: 0 !important;
  margin-bottom: -3px !important;
}

[contenteditable="true"] {
  box-shadow: 0 0 0 1px black;
  border-radius: 1px;
}

mat-card-title input {
  width: 100%;
  padding: 0;
  border: 0;
}

mat-card-content mat-label {
  font-weight: 500;
}

.card {
  width: 300px;
  min-height: 200px;

  margin-left: 37px;
  margin-top: 37px;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  background-color: #ffff;

  overflow: hidden;

  position: relative;

  &Header {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: flex-end;
  }

  &Content {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 10px 20px 18px 20px;

    &Name {
      width: 170px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.02em;

      margin-bottom: 2px;

      &Input {
        width: 150px;
      }
    }

    &Creator {
      width: 170px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.02em;

      margin-bottom: 2px;
    }

    &Description {
      width: 260px;

      &Text {
        margin-top: 0;
        margin-bottom: 0;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.card:hover {
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25),
    0px 1px 2px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: inherit;
}

.avatar {
  position: absolute;
  top: 63px;
  right: 20px;

  &Circle {
    width: 74px;
    height: 74px;

    background-color: #76b1a6;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;

    &Icon {
      width: 40px;
      height: 40px;
    }
  }
}

.menu {
  &Item {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.02em;
  }
}
