/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #fbebe7;
}

.mat-raised-button:first-child {
  margin-right: 8px !important;
}
