<ng-template #joinGroupDialogTemplate>
  <div class="templateTitle">
    <span>Join the project</span>
  </div>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input #idInput matInput>
    </mat-form-field>
  </div>
  <div class="test" [ngStyle]="{'display': 'flex', 'justify-content': 'center'}">
    <button (click)="joinGroup(idInput)" class="submitButton"><span class="submitButtonText">Join</span></button>
  </div>
</ng-template>

<div class="container">
  <app-group-card (deleteGroupCard)="deleteGroupCard($event)" *ngFor="let g of groups" [group]="g" [user]="user"></app-group-card>
</div>
