.container {
  padding-left: 23px;
  padding-bottom: 37px;
}

.template {
  &Title {
    text-align: center;

    font-weight: bold;
    font-size: 22px;

    margin-bottom: 8px;
  }
}

.submitButton {
  height: 46px;
  width: 100px;

  background-color: #76b1a6;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  cursor: pointer;

  &Text {
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1.25px;
  }
}
