:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  background-color: #fbebe7;
}

.vertical-space-between {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 70px;
  width: 100%;

  background-color: #ffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25),
    0px 2px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1px;

  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  align-items: center;

  z-index: 2;

  &Content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &Start {
      display: flex;
      align-items: center;

      &Title {
        margin-left: 30px;

        font-weight: bold;
        font-size: 22px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }

    &End {
      display: flex;
    }
  }

  &Buttons {
    height: 32px;
    width: 190px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &SignIn {
      color: #5f5a6e;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &SignUp {
      height: 32px;
      width: 134px;

      background-color: #76b1a6;
      border: 0.7px solid #76b1a6;
      border-radius: 5px;

      padding: 7px 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      &Text {
        color: #ffffff;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }
  }
}

.logo {
  height: 32px;
  width: 103px;
}

.avatar {
  margin-left: 12px;
  margin-right: 12px;

  &Circle {
    width: 40px;
    height: 40px;

    background-color: #76b1a6;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    &Icon {
      width: 24px;
      height: 24px;
    }
  }
}
