<div class="header">
  <div class="headerContent">
    <!-- <ng-content select="[nav-buttons-left]"></ng-content> -->

    <div class="headerContentStart">
      <a href="/"><img class="logo" src="../../assets/image/kolab-logo.svg" /></a>
      <span class="headerContentStartTitle">{{pageName}}</span>
    </div>

    <div class="headerContentEnd">
      <ng-content select="[nav-buttons-right]"></ng-content>
      <div class="avatar">
        <a href="/">
          <div class="avatarCircle">
            <img class="avatarIcon" src="../../assets/image/avatar.svg" />
          </div>
        </a>
      </div>
      <!-- {{user?.email}} -->
      <button (click)="this.logOut()" aria-label="Log out" mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </div>
</div>

<ng-content></ng-content>
